/* Index */

#home {
    background-color: #b4b0b0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Slideshow */
.slideshow{
    position: relative;
    /* width: 70%;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-left: 250px;
    margin-right: 200px; */
}

.mySlides{
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -60px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.feature{
    position: relative;
}


main {
    height: 100vh;
    overflow-y: scroll; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory; /* Enable vertical snap scrolling */
}

.slideshow, .feature{
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

#toTop {
    position: fixed;
    bottom: 70px;
    left: 20px;
    z-index: 9999;
    border: none;
    background-color: rgba(199, 190, 162, 0);
    height: 30px;
    width: 50px;
    font-size: 50px;
    cursor: pointer;
}

#scrolldown{
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 9999;
    height: 90px;
    width: 50px;
    border-radius: 10px;
    background-color: rgba(199, 190, 162, 0.2);
}

/* About */
#aboutsecs{
    background-color: #c7bea2c4;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding: 20px;
    margin-top: 15px;
}

.why,
.howtonavigate {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 15px;

    float: none;
    display: inline-block;

    background-color: #e5dcc3d3;
    color: black;
    text-align: center;
}

.howtonavigate, .why {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;

}


.why div{
    margin: 0 20px;
    background-color: #E5DCC3;
    border: 2px solid #55555518;

}

.howtonavigate div {
    background-color: #E5DCC3;;
    flex: 1;
    margin: 0 10px;
    border: 2px solid #55555518;

}

.howtonavigate h3 {
    margin-top: 0;
    font-family: 'Neuton Extra Light';

}



/* NAV BAR */

.standardnav{
    position: fixed;
    width: 100%;
    z-index: 9999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E5DCC3;
}

li {
    float: left;
}

.buttonnav li:last-child {
    float: right; /* Move the last li element (containing the button) to the right */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #C7BEA2;
}

.viewlist {
    display: block;
    background-color: transparent; /* try blend in */
    border: none;
    color: white;
    padding: 15px 16px;
    cursor: pointer;
    text-decoration: none;
    font-family: Georgia, sans-serif; /* blend font into rest of nav */
    font-size: 16px;
}

.viewlist:hover {
    background-color: #C7BEA2;
}



/* MapRoom */
#map { height: 900px; }

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* restuarant list */
/* overlay */
.overlay{
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    width: 100%;
    position: relative;
    top: 25%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 5px;
    font-size: 36px;
    color: #c6c0c0;
    display: block;
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay a:hover, .overlay a:focus {
    color: #fffcfc;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Restuarant page */

.restaurant, .owner {
    display: flex;
    flex-wrap: wrap;
    /* border: 5px dashed #BDD2B6; */
    margin-top: 1%;
    /* margin: 30px; */
    background-color: #889E81;
    display: none;
}
.hidden {
    display: none;
}
.opening{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    background-color: #889E81;
    align-items: center;
    justify-content: center; /* Center vertically */
    margin-top: 0;
}


.restitle{
    font-size: 70px;
    color: #E5E4CC;
}

.titles{
    padding-bottom: 15%;
    align-items: center;
    justify-content: center; /* Center vertically */
}

.menu{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    display: none;
    background-color: #889E81;
}

.menucaption{
    color: white;
    font-size: 20px;
}

.menubtn{
    display:flex;
    margin: 2%;
    padding: 2%;
    align-items: center;
}

.columns button {
    margin: 2%;
}

.restaurant .row {
    display: flex;
    width: 100%;
}

.restaurant .columns {
    flex: 1;
    margin: 15px;
}


.owner .biography,
.owner .headshot {
    flex: 1;
    margin: 2%;

}


/* Gallery */

.logo,
.album {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.welcome{
    scroll-snap-align: start; /*Align the snapping */
    height: 100vh;
    overflow: hidden;
}

.collection {
    display: flex;
    scroll-snap-type: y mandatory;/* Enable vertical snap scrolling */
    scroll-snap-align: start; /*Align the snapping*/
    height: 100vh;
    overflow: hidden;
}

.logo {
    display: flex;
    float: left;
    width: 48%; /* Fill the height of the parent */

}

.album {
    display: flex;
    float: right;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.gallerycolumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin: 3px;
}

/* .logo,
.album,
.collection {
    border: 5px dashed #BDD2B6;
} */

.items {
    max-width: 100%;
    height: auto;
    object-fit: contain !important;
    margin-top: 5px;
    margin-bottom: 5px;

}


aside{
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
}

aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    background-color: rgba(199, 190, 162, 0);
}

aside ul li .indicator{
    cursor: pointer;
    margin-top: 1rem;
    display: block;
    height: 0.5px;
    width: 0.5px;
    border-radius: 50%;
    background-color: white;
}

aside ul li .active {
    transform: scale(1.3);
    transition: transform 200ms ease-in-out;
}


/* General */


.body, body{
    background-color: #b4b0b0;

}

.body{
    scroll-snap-type: y mandatory; /* Enable vertical snap scrolling */
    height: 100vh; /* Set the height of the body to the full viewport height */
}

h1 {
    color: navy;
}

html{
    scroll-behavior: smooth;
}